@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.canvas {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.title {
    text-align: center;
    font-family: 'Audiowide', cursive;
}

button {
    font-family: 'Audiowide', cursive;
}

body {
    max-width: 500px;
    margin: auto;
}

.grid-settings {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.color-settings {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 24px;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}
